@use '../part/button';
@use '../colour';

.site-header .search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .screen-reader-text {
        display: none;
    }

    input[type="submit"] {
        @include button.button-primary;
    }

    input[type="search"] {
        width: 10rem;
        border: 1px solid colour.$foreground-lighter;
        border-right: none;
        padding-left: 0.2rem;
    }

    input[type="submit"],
    input[type="search"] {
        box-sizing: border-box;
        height: 1.8rem;
    }
}