$foreground: #5c5751;
$foreground-lighter: #776b5d;
$foreground-very-faint: #e0d3c4;

$background: #fffaee;
$background-lighter: #fffdf8;

$button-primary: #fbe7f1;
$button-primary-hover: #eec3d8;
$button-secondary: #daf6fb;
$button-secondary-hover: #9dd2db;
